<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>
    <pluginGroups>
    </pluginGroups>
    <proxies>
    </proxies>
    <servers>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>central</mirrorOf>
            <name>nexus</name>
            <url>http://nexus-server:8081/nexus/content/repositories/central/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>common</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <layout>default</layout>
                    <name>3rd</name>
                    <releases>
                        <checksumPolicy>fail</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <url>http://nexus-server:8081/nexus/content/repositories/central/</url>
                </repository>
                <repository>
                    <id>third</id>
                    <layout>default</layout>
                    <name>3rd</name>
                    <releases>
                        <checksumPolicy>fail</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <url>http://nexus-server:8081/nexus/content/repositories/thirdparty/</url>
                </repository>
                <repository>
                    <id>releases</id>
                    <layout>default</layout>
                    <name>Releases</name>
                    <releases>
                        <checksumPolicy>fail</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <url>http://nexus-server:8081/nexus/content/repositories/releases/</url>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <layout>default</layout>
                    <name>Snapshots</name>
                    <snapshots>
                        <checksumPolicy>fail</checksumPolicy>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <url>http://nexus-server:8081/nexus/content/repositories/snapshots/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>common</activeProfile>
    </activeProfiles>
</settings>
